<div class="navBar">
  <nav>
      <ul>
        <li *ngIf="loginID == 1"><a routerLink="/adminBoard" routerLinkActive="active">Moja nástenka</a></li>
        <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
        <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
        <li *ngIf="loginID > 0 || loginID == 1"><a routerLink="/buy-Grave" routerLinkActive="active">Kúpa miesta</a></li>
        <button class="sendMails" (click)="sendMails()">Poslat mail</button>
        <button class="logout" (click)="logout()">Odhlásenie</button>
        <button (click)="chooseCreate()">Vytvoriť záznam</button>
      </ul>
    
  </nav>
  </div>

  <div class="selector">
    <h3><span>Vyber tabuľku</span></h3>
    <select (change)="selectChangeHandler($event)" (change)="reset()">
        <option value="cemetery">Cintorín</option>
        <option value="corpses">Zosnulý</option>
        <option value="users">Používatelia</option>
        <option value="payments">Platby</option>
    </select>
  </div>
<div class="container">
  <div *ngIf="selectedTable == 'cemetery'">
    <h2>Cintorin</h2>
<table  border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID miesta</th>
      <th>ID užívateľa</th>
      <th>Súradnica 1</th>
      <th>Súradnica 2</th>
      <th>Súradnica 3</th>
      <th>Súradnica 4</th>
      <th>Typ miesta</th>
      <th></th>
    </tr>
  
    <tr *ngFor="let cemetery of cemetery">
      <td>{{ cemetery.id_grave }}</td>
      <td>{{ cemetery.id_user }}</td>
      <td>{{ cemetery.coor1 }}</td>
      <td>{{ cemetery.coor2 }}</td>
      <td>{{ cemetery.coor3 }}</td>
      <td>{{ cemetery.coor4 }}</td>
      <td>{{ cemetery.type }}</td>
      <td>
        <button (click)="delete(cemetery.id_grave,'grave')">Vymazať</button>
        <button (click)="selectGrave(cemetery)" (click)="chooseCreate()">Aktualizovať</button>  
      </td> 
    </tr>
  </table>
  <div class="graves" *ngIf="choose == 1">
    <form #formGrave = "ngForm">
      <label>Id hrob</label>
      <input type="number" name="id_grave" [(ngModel)] = "selectedGrave.id_grave">
      <label>Id užívateľa</label>
      <input type="number" name="id_user" [(ngModel)] = "selectedGrave.id_user">
      <label>Sur1</label>
      <input type="text" name="coor1" [(ngModel)] = "selectedGrave.coor1">
      <label>Sur2</label>
      <input type="text" name="coor2" [(ngModel)] = "selectedGrave.coor2">
      <label>Sur3</label>
      <input type="text" name="coor3" [(ngModel)] = "selectedGrave.coor3">
      <label>Sur4</label>
      <input type="text" name="coor4" [(ngModel)] = "selectedGrave.coor4">
      <label>Typ</label>
      <input type="text" name="type" [(ngModel)] = "selectedGrave.type">
      <input type="button" (click)="updateGrave(formGrave)" value="Aktualizovať">
      <input type="button" (click)="createGrave(formGrave)" value="Vytvoriť">
    </form>
  </div>
  </div>
<div *ngIf="selectedTable == 'corpses'">
  <h2>Zosnulý</h2>
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID zosnuleho</th>
      <th>ID hrobu</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Datum narodenia</th>
      <th>Datum umrtia</th>
      <th>Datum zaplatene do</th>
      <th></th>
  
    </tr>
  
    <tr *ngFor="let corpses of corpses">
      <td>{{ corpses.id_corpse }}</td>
      <td>{{ corpses.id_grave }}</td>
      <td>{{ corpses.name }}</td>
      <td>{{ corpses.lastname }}</td>
      <td>{{ corpses.birthDay }}</td>
      <td>{{ corpses.deadDay }}</td>
      <td>{{ corpses.paidBy }}</td>
      <td>
        <button (click)="delete(corpses.id_corpse,'corpse')">Vymazať</button>
        <button (click)="selectCorpse(corpses)"  (click)="chooseCreate()">Aktualizovať</button>  
      </td> 
    </tr>
  </table>
  <div class="corpses" *ngIf="choose == 1">
    <form #formCorpse = "ngForm">
      <label>Id hrob</label>
      <input type="number" name="id_grave" [(ngModel)] = "selectedCorpse.id_grave">
      <label>meno</label>
      <input type="text" name="name" [(ngModel)] = "selectedCorpse.name">
      <label>priezvisko</label>
      <input type="text" name="lastname" [(ngModel)] = "selectedCorpse.lastname">
      <label>Dátum narodenia</label>
      <input type="text" name="birthDay" [(ngModel)] = "selectedCorpse.birthDay">
      <label>Dátum úmrtia</label>
      <input type="text" name="deadDay" [(ngModel)] = "selectedCorpse.deadDay">
      <label>Zaplatené do</label>
      <input type="text" name="paidBy" [(ngModel)] = "selectedCorpse.paidBy">
      <input type="button" (click)="updateCorpse(formCorpse)" value="Aktualizovať">
      <input type="button" (click)="createCorpse(formCorpse)" value="Vytvoriť">
    </form>
  </div>
</div>

<div *ngIf="selectedTable == 'users'">
  <h2>Uzivatelia</h2>
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID uzivatela</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Tel. cislo</th>
      <th>email</th>
      <th>heslo</th>
      <th>Obec</th>
      <th>Ulica</th>
      <th>Číslo domu</th>
      <th>PSČ</th>
      <th></th>
  
    </tr>
  
    <tr *ngFor="let registration of registration">
      <td>{{ registration.id_user }}</td>
      <td>{{ registration.name }}</td>
      <td>{{ registration.lastname }}</td>
      <td>{{ registration.number }}</td>
      <td>{{ registration.email }}</td>
      <td>{{ registration.password }}</td>
      <td>{{ registration.town }}</td>
      <td>{{ registration.street }}</td>
      <td>{{ registration.number_house }}</td>
      <td>{{ registration.postcode }}</td>
      <td>
        <button (click)="delete(registration.id_user,'user')">Vymazať</button>
        <button (click)="selectUser(registration)"  (click)="chooseCreate()">Aktualizovať</button>
      </td>
    </tr>
  </table>

  <div class="updateUser" *ngIf="choose == 1">
    <form #formUser = "ngForm">
      <label>meno</label>
      <input type="text" name="name" [(ngModel)] = "selectedUser.name">
      <label>priezvisko</label>
      <input type="text" name="lastname" [(ngModel)] = "selectedUser.lastname">
      <label>Tel</label>
      <input type="text" name="number" [(ngModel)] = "selectedUser.number">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)] = "selectedUser.email">
      <label>Mesto</label>
      <input type="text" name="town" [(ngModel)] = "selectedUser.town">
      <label>Ulica</label>
      <input type="text" name="street" [(ngModel)] = "selectedUser.street">
      <label>Číslo domu</label>
      <input type="text" name="number_house" [(ngModel)] = "selectedUser.number_house">
      <label>PSČ</label>
      <input type="text" name="postcode" [(ngModel)] = "selectedUser.postcode">
      <input  type="button" (click)="updateUser(formUser)" value="Update">
    </form>
  </div>
</div>

<div *ngIf="selectedTable == 'payments'">
  <h2>Platby</h2>
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID uzivatela</th>
      <th>Id hrob</th>
      <th>Den zaplatenia</th>
      <th>typ miesta</th>
      <th></th>
    </tr>
  
    <tr *ngFor="let payment of payment">
      <td>{{ payment.id_user }}</td>
      <td>{{ payment.id_grave }}</td>
      <td>{{ payment.paidDay }}</td>
      <td>{{ payment.type }}</td>
      <td>
        <button (click)="selectPayment(payment)"  (click)="chooseCreate()">Aktualizovať</button>
      </td>
    </tr>
  </table>

  <div class="updatePayment" *ngIf="choose == 1">
    <form #formPayment = "ngForm">
      <label>Id uzivatela</label>
      <input type="number" name="id_user" [(ngModel)] = "selectedPayment.id_user">
      <label>Id hrob</label>
      <input type="number" name="id_grave" [(ngModel)] = "selectedPayment.id_grave">
      <label>Den zaplatenia</label>
      <input type="text" name="paidDay" [(ngModel)] = "selectedPayment.paidDay">
      <label>typ miesta</label>
      <input type="text" name="type" [(ngModel)] = "selectedPayment.type">
      <input type="button" (click)="updatePayment(formPayment)" value="Aktualizovať">
      <input type="button" (click)="createPayment(formPayment)" value="Vytvoriť">
    </form>
  </div>
</div>

</div>