body{
    height: 100%;
    width: 80%;
    margin-left: 10%;

}

#wrap{
    height: 100%;
    width: 100%;
    position: relative;
     z-index: 2;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    background-image: url("../cintorin.jpg");
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.form{
    box-shadow: 0.7vw 0.9vw rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 100%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: rgb(250, 249, 249);
    border: 0.2vw solid;
    border-radius: 5%;
    text-align: center;
}
.title{
    margin-top: 5%;
    color: black;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5%;
}
label{
    width: 100%;
    margin-top: 3%;
    margin-right: 5%;
    color:  #474747;
    font-family: "Times New Roman", Times, serif;
}
input{
    margin-top: 3%;
    color: black;
    font-family: "Times New Roman", Times, serif;
}
ul {
    font-family: "Times New Roman", Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000059;
    height: 8w;
    border-radius: 0.5vw;
}
li {
    float: left;
}
li a {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: rgb(241, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    opacity: 0.5;
    background-color: #111;
    color: white;
    border-radius: 0.5vw;
}
.active {
    background-color: #0606aa;
    border-radius: 1;
  }

  button {
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: #000059;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="wrap"] {
    width: 100%;
  }

  [class*="form"] {
    width: 70%;
  }

}
