<body>
<div class="navBar">
  <nav>
      <ul>
        <li *ngIf="loginID > 0"><a routerLink="/userBoard" routerLinkActive="active">Moja nástenka</a></li>
        <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
        <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
        <li *ngIf="loginID > 0 || loginID == 1"><a routerLink="/buy-Grave" routerLinkActive="active">Kúpa miesta</a></li>
        <button (click)="logout()">Odhlasenie</button>
      </ul>
  </nav>
</div>
 
<div class="container">
  <h2>Moje údaje </h2>
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>ID uzivatela</th>
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Tel. cislo</th>
      <th>email</th>
      <th>Obec</th>
      <th>Ulica</th>
      <th>Číslo domu</th>
      <th>PSČ</th>
      <th></th>
  
    </tr>
  
    <tr *ngFor="let registration of registration">
      <td>{{ registration.id_user }}</td>
      <td>{{ registration.name }}</td>
      <td>{{ registration.lastname }}</td>
      <td>{{ registration.number }}</td>
      <td>{{ registration.email }}</td>
      <td>{{ registration.town }}</td>
      <td>{{ registration.street }}</td>
      <td>{{ registration.number_house }}</td>
      <td>{{ registration.postcode }}</td>
      <td>
        <button (click)="selectUser(registration)">Aktualizovať</button>
      </td>
    </tr>
  </table>

  <div *ngIf="update == 1"  class="updateUser">
    <form #formUser = "ngForm">
      <label>Meno</label>
      <input type="text" name="name" [(ngModel)] = "selectedUser.name">
      <label>Priezvisko</label>
      <input type="text" name="lastname" [(ngModel)] = "selectedUser.lastname">
      <label>Telefónne číslo</label>
      <input type="text" name="number" [(ngModel)] = "selectedUser.number">
      <label>Email</label>
      <input type="text" name="email" [(ngModel)] = "selectedUser.email">
      <label>Mesto</label>
      <input type="text" name="town" [(ngModel)] = "selectedUser.town">
      <label>Ulica</label>
      <input type="text" name="street" [(ngModel)] = "selectedUser.street">
      <label>Číslo domu</label>
      <input type="text" name="number_house" [(ngModel)] = "selectedUser.number_house">
      <label>PSČ</label>
      <input type="text" name="postcode" [(ngModel)] = "selectedUser.postcode">
      <input class="update" type="button" (click)="updateUser(formUser)"  (click)="reset()" value="Aktualizovať">
    </form>
  </div>

</div>
<div class="container">
  <h2>Miesta </h2>
<table class="graves" border='1' width='100%' style='border-collapse: collapse;'>
  <tr>
    <th>Id hrob</th>
    <th>Typ</th>
    <th></th>
  </tr>

  <tr *ngFor="let cemetery of cemetery">
    <td>{{ cemetery.id_grave }}</td>
    <td>{{ cemetery.type }}</td>
    <td><button (click)="selectIDGrave(cemetery.id_grave)">Predĺžiť</button></td>
  </tr>
</table>

<h2>Zosnulý </h2>
<table class="corpses" border='1' width='100%' style='border-collapse: collapse;'>
  <tr>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Dátum narodenia</th>
    <th>Dátum úmrtia</th>
    <th>Zaplatené do</th>
  </tr>

  <tr *ngFor="let corpses of corpses">
    <td>{{ corpses.name }}</td>
    <td>{{ corpses.lastname }}</td>
    <td>{{ corpses.birthDay }}</td>
    <td>{{ corpses.deadDay }}</td>
    <td>{{ corpses.paidBy }}</td>
  </tr>
</table>

<h2>Platby </h2>
<table class="payments" border='1' width='100%' style='border-collapse: collapse;'>
  <tr>
    <th>Dátum zaplatenia</th>
    <th>Typ</th>
  </tr>

  <tr *ngFor="let payment of payment">
    <td>{{ payment.paidDay }}</td>
    <td>{{ payment.type }}</td>
  </tr>
</table>
</div>
</body>

