body{
    height: 100%;
    width: 80%;
    margin-left: 10%;

}

#wrap{
    position: relative;
     z-index: 2;
}

#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    z-index: -1;
  }
  #bg img {
    background-image: url("../cintorin.jpg");
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.a{
    margin-left: 1.5vw;
}
.subtitle{
    margin-top: 1vw;
}
.daco{
    float: left;
}
.box {
    float: left;
    width: 1vw;
    height: 1vw;
    margin-right: 1vw;
}
.container{
    overflow: hidden;
    width: 100%;
    border-radius: 3vw
}
.legend{
    float: left;
    margin-top: 3vw;
    background-color: rgb(250, 249, 249);
    box-shadow: 0.7vw 1vw rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    border: 2px solid black;
    height: 20vw;
    width: 17vw;
}
.map-container{
    overflow: hidden;
    margin-top: 1vw;
    border-radius: 3%;
    box-shadow: 0.7vw 1vw rgba(0, 0, 0, 0.5);
    margin-left: 20vw;
    border: 2px solid black;
    height: 38vw;
    width: 70%;
}
.map-frame{
    border: 2px solid black;
    box-shadow: 0.7vw 1vw rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    height: 100%;
    width: 100%;
}

#map{
    border-radius: 3%;
    height: 100%;
}

.form{

    box-shadow: 0.7vw 0.9vw rgba(0, 0, 0, 0.5);
    width: 15vw;
    height: 8vw;
    margin-top: 5vw;
    background-color: rgb(250, 249, 249);
    border: 0.2vw solid;
    border-radius: 3%;
    text-align: center;
}

.title{
    margin-top: 5vw;
    font-size: 2 vw;
    color: black;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5vw;
}
.subtitle{
    margin-bottom: 2vw;
    margin-top: 1vw;
    font-size: 30px;
    color: black;
    font-family: "Times New Roman", Times, serif;

}
label{
    margin-top: 3vw;
    font-size: 1vw;
    color:  #474747;
    font-family: "Times New Roman", Times, serif;
}
input{
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1vw;
    color: black;
    font-family: "Times New Roman", Times, serif;
}
ul {
    font-family: "Times New Roman", Times, serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000059;
    height: 8w;
    border-radius: 0.5vw;
}
li {
    float: left;
}
li a {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    color: rgb(241, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    opacity: 0.5;
    background-color: #2e2ee2;
    color: white;
    border-radius: 0.5vw;
}
.active {
    background-color: #0606aa;
    border-radius: 1;
  }

  button {
    margin-top: 1vw;
    background-color: #000059;
    border-radius: 0.5vw;
    color: white;
    height: 2vw;
    width: 4vw;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="wrap"] {
      width: 100%;
    }
  
    [class*="form"] {
      width: 50%;
    }
    [class*="map-container"] {
        width: 100%;
      }
    
      [class*="map-frame"] {
        width: 70%;
      }
      [class*="map"] {
        width: 100%;
      }
      [class*="container"] {
        width: 100%;
      }
      [class*="legend"] {
        width: 100%;
      }
      [class*="box"] {
        width: 10%;
      }
      [class*="p"] {
        width: 50%;
      }
    [class*="subtitle"] {
      width: 10%;
    }
      

  }  
