<body>
    <div class="wrap">

        <div class="navBar">
            <nav>
                <ul>
                <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
                <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
                <li *ngIf="loginID == -1"><a routerLink="/login" routerLinkActive="active">Prihlásenie</a></li>
                <li *ngIf="loginID == -1"><a routerLink="/registration" routerLinkActive="active">Registrácia</a></li>
                <li *ngIf="loginID > 0 || loginID == 0"><a routerLink="/buy-Grave" routerLinkActive="active">Kúpa miesta</a></li>
                <li *ngIf="loginID == 0"><a routerLink="/adminBoard" routerLinkActive="active">Moja nástenka</a></li>
                 <li *ngIf="loginID > 0"><a routerLink="/userBoard" routerLinkActive="active">Moja nástenka</a></li>
                </ul>
                <button *ngIf="loginID > 0 || loginID == 0" (click)="logout()">Odhlasenie</button>
            </nav>
        </div>
       
        <div class="container">
            <div class="daco">
                <div class="form">
                    <form #form="ngForm" (ngSubmit)="findGrave(form.value)">
                        <label>Vyhľadať záznam podľa priezviska</label>
                        <input ngModel minlength="3" name="lastname" class="form-control" id="lastname" type="text" #Priezvisko="ngModel">
                        <button>Hladať</button>
                    </form>
                </div>

                <div class="legend">
                    <div class="a">
                        <p class="subtitle">Farebné označenie:</p>
                        <span class="box" style="background-color: #000099;">&nbsp;</span>
                        <p class="p">Hrob s uhradenou zmluvou a zosnulým</p>
                        <span class="box" style="background-color: #ff9900 ;">&nbsp;</span>
                        <p class="p">Hrob s uhradenou zmluvou bez zosnulého</p>
                        <span class="box" style="background-color: #239600;">&nbsp;</span>
                        <p class="p">Hrob s neuhradradenou zmluvou a zosnulým</p>
                        <span class="box" style="background-color: #e60000;">&nbsp;</span>
                        <p class="p">Hrob s neuhradenou zmluvou bez zosnulého</p>
                    </div>
                </div>

            </div>
            
            <div class="map-container">
                <div class="map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="bg">
      <img src="../cintorin.jpg" alt="">
    </div>
  </body>
<!--
    <button (click)="sendMails()">Poslat mail</button>
-->