<div class="navBar">
    <nav>
        <ul>
        <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Prihlásenie</a></li>
          <li><a routerLink="/registration" routerLinkActive="active">Registrácia</a></li>
          <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
        </ul>
    </nav>
 </div>
<div class="introduction">
    <p>Nachádzate sa na stránke virtuálneho cintorína obce Topoľnica. Obec vznikla v roku 1 307 a nachádza sa v okrese Galanta</p>
    <p>Nájdete tu mapu cintorína, na ktorej môžete nájsť zosnulého podľa priezviska.</p>
    <p>Ohľadom ďalšich informácií kontaktujte správcu Cintorína.</p>
</div>

<div class="contact">
    <h4>adresa:</h4>
    <p>Topoľnica 123, 925 92</p>
    <h4>telefónne číslo</h4>
    <p>+421948 123 974</p>
    <p>cintorin.topolnica@gmail.com</p>
</div>