<body>
    <div class="wrap">

        <div class="navBar">
            <nav>
                <ul>
                    <li><a routerLink="/buy-Grave" routerLinkActive="active">Kúpa miesta</a></li>
                    <li *ngIf="loginID > 0"><a routerLink="/userBoard" routerLinkActive="active">Moja nástenka</a></li>
                    <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
                    <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
               <!-- <li><a routerLink="/payment" routerLinkActive="active">payment</a></li>-->
                </ul>
                <button *ngIf="loginID > 0 || loginID == 1" (click)="logout()">Odhlásenie</button>
            </nav>
        </div>

        <div class="table">
            <table>
                <tr>
                    <th>ID hrobu</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let cemetery of cemetery">
                    <td>{{ cemetery.id_grave }}</td>
                    <td>
                        <button (click)="markGrave(cemetery.id_grave)">Označ</button>
                    </td>
                    <td>
                        <button (click)="buyThisGrave(cemetery.id_grave)">Kúp</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div id="bg">
        <img src="../cintorin.jpg" alt="">
      </div>
</body>