<body>
    <div class="wrap">

        <div class="navBar">
            <nav>
                <ul>
                <li><a routerLink="/buy-Grave" routerLinkActive="active">Kúpa miesta</a></li>
                <li><a routerLink="/info" routerLinkActive="active">Úvod</a></li>
                <li><a routerLink="/map" routerLinkActive="active">Mapa cintorína</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Prihlásenie</a></li>
                <li><a routerLink="/registration" routerLinkActive="active">Registrácia</a></li>
                <li><a routerLink="/payment" routerLinkActive="active">payment</a></li>
                </ul>
                <button *ngIf="loginID > 0 || loginID == 0" (click)="logout()">Odhlasenie</button>
            </nav>
        </div>

        <div class="table">
            <table>
                <tr *ngFor="let cemetery of cemetery">
                    <td>{{ cemetery.id_grave }}</td>
                    <td>
                        <button (click)="markGrave(cemetery.id_grave)">Označ</button>
                    </td>
                    <td>
                        <button (click)="buyThisGrave(cemetery.id_grave)">Kúp</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </div>
</body>